<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fruit1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,290},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>fruit1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,232},{88,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,82}}</string>
                <key>sourceSize</key>
                <string>{88,82}</string>
            </dict>
            <key>fruit2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,263},{67,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,84}}</string>
                <key>sourceSize</key>
                <string>{67,84}</string>
            </dict>
            <key>fruit2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,155},{75,93}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{75,93}}</string>
                <key>sourceSize</key>
                <string>{75,97}</string>
            </dict>
            <key>fruit3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,452},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>fruit3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,373},{77,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{77,78}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>fruit4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,189},{72,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,90}}</string>
                <key>sourceSize</key>
                <string>{72,90}</string>
            </dict>
            <key>fruit4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,155},{73,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,92}}</string>
                <key>sourceSize</key>
                <string>{73,92}</string>
            </dict>
            <key>fruit5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,332},{81,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,52}}</string>
                <key>sourceSize</key>
                <string>{81,52}</string>
            </dict>
            <key>fruit5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,230},{89,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,58}}</string>
                <key>sourceSize</key>
                <string>{89,60}</string>
            </dict>
            <key>fruit6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,460},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>fruit6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,386},{72,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{72,73}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>fruit7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,398},{62,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,77}}</string>
                <key>sourceSize</key>
                <string>{62,77}</string>
            </dict>
            <key>fruit7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,117},{70,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,85}}</string>
                <key>sourceSize</key>
                <string>{70,87}</string>
            </dict>
            <key>fruit8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,462},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,73}}</string>
                <key>sourceSize</key>
                <string>{67,73}</string>
            </dict>
            <key>fruit8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,316},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>high_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,709},{306,41}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{306,41}}</string>
                <key>sourceSize</key>
                <string>{352,61}</string>
            </dict>
            <key>high_score_part.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,117},{193,36}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,12},{193,36}}</string>
                <key>sourceSize</key>
                <string>{277,52}</string>
            </dict>
            <key>highscore_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,407},{145,22}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,5},{145,22}}</string>
                <key>sourceSize</key>
                <string>{235,38}</string>
            </dict>
            <key>score_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{323,113}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,27},{323,113}}</string>
                <key>sourceSize</key>
                <string>{405,177}</string>
            </dict>
            <key>score_now_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,262},{143,27}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{127,68},{143,27}}</string>
                <key>sourceSize</key>
                <string>{405,177}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,460},{50,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{50,47}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,38},{149,27}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{149,27}}</string>
                <key>sourceSize</key>
                <string>{191,45}</string>
            </dict>
            <key>stage_part.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,173},{87,33}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,7},{87,33}}</string>
                <key>sourceSize</key>
                <string>{129,53}</string>
            </dict>
            <key>stage_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,407},{11,21}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{11,21}}</string>
                <key>sourceSize</key>
                <string>{81,39}</string>
            </dict>
            <key>tarcet.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{179,34}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{179,34}}</string>
                <key>sourceSize</key>
                <string>{221,46}</string>
            </dict>
            <key>tarcet_part.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,38},{133,32}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{133,32}}</string>
                <key>sourceSize</key>
                <string>{189,52}</string>
            </dict>
            <key>tarcet_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,554},{86,21}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{86,21}}</string>
                <key>sourceSize</key>
                <string>{146,47}</string>
            </dict>
            <key>the_time_axis-trolley.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,509},{56,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{56,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>the_time_axis-tunnel.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,67},{640,146}}</string>
                <key>offset</key>
                <string>{0,-493}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,988},{640,146}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>the_time_axis_shining.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,642},{20,42}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,35},{20,42}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fruit.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a092637b60a01ff710cc6155f93802fe$</string>
            <key>textureFileName</key>
            <string>fruit.pvr.ccz</string>
        </dict>
    </dict>
</plist>
